* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

#canvas {
    margin: 25px auto;
    width: 400px;
    height: 500px;
    position: relative;
}

.tile {
    width: 100px;
    height: 125px;
    position: absolute;
    border: 1px solid white;
    background-color: aqua;
    transition: all .2s;
}

.selected {
    transform: scale(1.1);
    z-index: 1000;
}

.pinned {
    background-image: url(circle-solid.svg);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: center;

}

form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
}

form select {
    padding: .5rem;
    margin: .5rem 0;
}
form button {
    padding: .5rem;
}
