* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    background-color: rgb(236, 226, 204);
}

#canvas {
    margin: 10px auto;
    width: 400px;
    height: 500px;
    position: relative;
}

.tile {
    width: 100px;
    height: 125px;
    position: absolute;
    border: 1px solid white;
    transition: all .2s;
    font-size: 1rem;
    padding: .5rem;
}

.selected {
    transform: scale(1.1);
    z-index: 1000;
}

.pinned {
    background-image: url(circle-solid.svg);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: center;
}

p {
    padding: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    width: 400px;
}

form select {
    padding: .5rem;
    margin-bottom: .5rem;
    border: none;
    border-radius: 5px;
}

form select:focus {
    outline-color:  rgb(219, 181, 98);
}

button{
    margin: 0 auto;
    padding: .5rem;
    background-color: rgb(219, 181, 98);
    border: none;
    border-radius: 5px;
    width: 400px;
}

button:focus {
    outline-color:  rgb(219, 181, 98);

}

.cheat {
    opacity: .7;
}

.win {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: url(smile-regular.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
}
